h1 {
    display: flex;
    justify-content: center;
}

html {
    display: grid;
    justify-content: center;
}

body {
    display: inline-block;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.content {
    display: none;
}